{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "quote-props": "as-needed",
  "jsx-quotes": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always"
}
