@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
  }

  @font-face {
    font-family: "HarmonyOS";
    font-weight: 100;
    src: url("/media/fonts/HarmonyOS_Sans_Thin.ttf");
  }
  @font-face {
    font-family: "HarmonyOS";
    font-weight: 400;
    src: url("/media/fonts/HarmonyOS_Sans_Regular.ttf");
  }
  @font-face {
    font-family: "HarmonyOS";
    font-weight: 500;
    src: url("/media/fonts/HarmonyOS_Sans_Medium.ttf");
  }
  @font-face {
    font-family: "HarmonyOS";
    font-weight: 700;
    src: url("/media/fonts/HarmonyOS_Sans_Bold.ttf");
  }
  @font-face {
    font-family: "HarmonyOS";
    font-weight: 900;
    src: url("/media/fonts/HarmonyOS_Sans_Black.ttf");
  }
}
